.page-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-list__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;

  h1 {
    color: #ecd19a;
    text-shadow: 0px 0px 6px #000000;
  }
}

.page-list__eyebrow {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #948c83;
  margin: 0 0 0.25rem;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6rem;
}

.page-list__lede {
  margin: 0.25rem 0 0;
  color: #aba093;
}